name: PHP

on:
  push:
    branches: ["main", "feat/skeleton", "work"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          tools: composer
      - name: Install dependencies
        run: composer install --prefer-dist --no-progress
      - name: Lint
        run: composer lint
      - name: Test
        run: composer test
